.education_container {
    max-width: 650px;
    display: flex;
    width: fit-content;
    gap: 50px;
}

.education_container:hover .education_date {
    color: #28e98c;
}

.education_container .education_data:last-child {
    padding-bottom: 25px;
}

.education_container_limit_frame {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
}

.education_container_limit_circle {
    background: #656565;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    flex-shrink: 0;
}

.education_container_limit_line {
    height: 100%;
    background: #656565;
    width: 1px;
}

.education_data {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.education_container:hover .education_container_limit_circle {
    background: #28e98c;
}

.education_date {
    font-size: 14px;
    color: #999;
    margin-bottom: 5px;
}

.education_detail {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.education_detail_title {
    color: #fff;
    font-size: 24px;
}

.education_detail_organization {
    color: #999;
    font-size: 14px;
    text-decoration: none;
}

@media (320px <= width <= 600px) {
    .education_container {
        gap: 30px;
    }
    
    .education_container .education_data:last-child {
        padding-bottom: 20px;
    }
    
    .education_container_limit_circle {
        width: 10px;
        height: 10px;
    }
    
    .education_data {
        gap: 15px;
    }
    
    .education_date {
        font-size: 12px;
    }
    
    .education_detail {
        gap: 5px;
    }
    
    .education_detail_title {
        font-size: 18px;
    }
    
    .education_detail_organization {
        font-size: 12px;
    }
}

@media (601px <= width <= 900px) {
    .education_container {
        gap: 40px;
    }
    
    .education_container .education_data:last-child {
        padding-bottom: 20px;
    }
    
    .education_data {
        gap: 17px;
    }
    
    .education_detail_title {
        font-size: 20px;
    }
}

@media (901px <= width <= 1240px) {
    .education_container {
        gap: 45px;
    }
    
    .education_container .education_data:last-child {
        padding-bottom: 22px;
    }
    
    .education_detail_title {
        font-size: 22px;
    }
}

@media (1821px <= width) {

}