.profile {
    border: 1px solid #565656;
    width: 350px;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 25px;
    gap: 16px;
    position: fixed;
    top: 60px;
}

.profile_name_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile_name {
    color: #fff;
    font-size: 28px;
    font-weight: 900;
}

.profile_ocupation {
    color: #fff;
    width: 100px;
    font-size: 14px;
    text-align: right;
}

.profile_video {
    border-radius: 30px;
    width: 100%;
    color: #fff;
    display: grid;
    place-items: center;
    border: solid #fff;
}

.profile_link {
    color: #fff;
    text-decoration: none;
}

.profile_email {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
}

:is(.profile_email, .profile_link):hover {
    color: #28e98c;
}

.profile_location {
    font-size: 24px;
    color: #fff;
    margin-top: -10px;
}

.profile_links_container {
    display: flex;
    gap: 15px;
}

.profile_link_circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #565656;
    text-decoration: none;
    display: grid;
    place-items: center;
}

.profile_link_circle i {
    color: #999999;
}

.profile_link_circle:hover,
.profile_link_circle:hover i {
    border-color: #28e98c;
    color: #28e98c;
}

.profile_btn {
    width: 100%;
    padding: 10px 0;
    border-radius: 30px;
    display: flex;
    background: #20c997;
    font-size: 16px;
    justify-content: center;
    gap: 10px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    border: solid 2px transparent;
}

.profile_btn:hover {
    color: #20c997;
    background: #1F1F1F;
    border: solid 2px #20c997;
}

@media (320px <=width <=600px) {
    .profile {
        width: 100%;
        border-radius: 15px;
        padding: 25px 15px;
        gap: 15px;
        position: static;
        margin-bottom: 70px;
    }

    .profile_name {
        font-size: 22px;
    }

    .profile_ocupation {
        font-size: 12px;
    }

    .profile_video {
        border-radius: 25px;
    }

    .profile_email {
        font-size: 14px;
        margin-top: 5px;
    }

    .profile_location {
        font-size: 22px;
        margin-top: -5px;
    }

    .profile_link_circle {
        width: 40px;
        height: 40px;
    }

    .profile_link_circle:hover,
    .profile_link_circle:hover i {
        border-color: #28e98c;
        color: #28e98c;
    }

    .profile_btn {
        padding: 10px 0;
        border-radius: 25px;
        font-size: 14px;
    }
}

@media (601px <=width <=900px) {
    .profile {
        width: 100%;
        position: static;
        margin-bottom: 100px;
    }

    .profile_name {
        font-size: 24px;
    }

    .profile_ocupation {
        font-size: 12px;
    }

    .profile_btn {
        font-weight: 900;
    }
}

@media (901px <=width <=1240px) {
    .profile {
        width: 100%;
        position: static;
        margin-bottom: 125px;
    }

    .profile_btn {
        font-weight: 700;
    }
}

@media (1821px <=width) {
    .profile {
        width: 450px;
        border-radius: 30px;
        padding: 40px 30px;
        gap: 25px;
        left: calc(50% - 650px);
        transform: translate(-50%, 0);
    }

    .profile_name {
        font-size: 30px;
    }

    .profile_ocupation {
        font-size: 16px;
    }

    .profile_email {
        font-size: 18px;
        margin-top: 12px;
    }

    .profile_location {
        font-size: 26px;
        margin-top: -12px;
    }

    .profile_links_container {
        gap: 20px;
    }

    .profile_link_circle {
        width: 55px;
        height: 55px;
    }

    .profile_link_circle i {
        font-size: 22px;
    }

    .profile_btn {
        padding: 20px 0;
        font-size: 18px;
        gap: 12px;
        font-weight: 700;
    }
}