.skills {
    width: 100%;
    height: fit-content;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.skill {
    border: 1px solid #999;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    min-width: 0;
}

.skill i {
    color: #20c997;
    font-size: 60px;
}

.skill_name {
    color: #fff;
    font-size: 12px;
    text-align: center;
}

@media (320px <= width <= 600px) {    
    .skill {
        padding: 10px;
        gap: 5px;
    }
    
    .skill i {
        font-size: 30px;
    }
    
    .skill_name {
        font-size: 10px;
    }   
}

@media (320px <= width <= 400px) {
    .skills {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (401px <= width <= 600px) {
    .skills {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (601px <= width <= 900px) {    
    .skill {
        padding: 10px;
    }
    
    .skill i {
        font-size: 40px;
    }

    .skill_name {
        font-size: 10px;
    }
}

/* @media (1821px <= width) {
    .skills {
        row-gap: 40px;
        column-gap: 30px;
    }
    
    .skill {
        gap: 15px;
        width: 120px;
    }
    
    .skill i {
        font-size: 60px;
    }
    
    .skill_name {
        font-size: 16px;
    }
} */