.intro_main_text {
    font-weight: 300;
    font-size: 68px;
    color: #fff;
    margin-bottom: 30px;
}

.intro_text {
    font-weight: 300;
    font-size: 16px;
    color: #999;
    width: 400px;
    line-height: 20px;
}

@media (320px <= width <= 600px) {
    .intro_main_text {
        font-size: 48px;
        margin-bottom: 20px;
    }
    
    .intro_text {
        font-size: 14px;
        width: 100%;
    }
}

@media (601px <= width <= 900px) {
    .intro_main_text {
        font-size: 58px;
        margin-bottom: 20px;
    }
}

@media (901px <= width <= 1240px) {
    .intro_main_text {
        margin-bottom: 25px;
    }
}

@media (1821px <= width) {

}